// User variables:
$yellow: #FFFF99
$black: #000
$brown: #996633
$text: #666
$white: #ffffff
$accent: #666699
// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width
//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
