.top-project
	h2
		text-align: center
	&>section
		h3
			text-align: center
		.wrap
			display: flex
			flex-wrap: wrap
			justify-content: center
			.card
				width: 80%
				height: 200px
				margin-top: 20px
				text-align: center
				background-color: green

.advantages
	h2
		text-align: center
	&-items
		display: flex
		flex-wrap: wrap
		justify-content: center
		.item
			width: 80%
			height: 200px
			margin-top: 20px
			background-color: blue
			text-align: center
