@import vars
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
@import fonts
@import libs
@import component/card







::placeholder
	color: $accent

::selection
	background-color: $accent
	color: $white

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

\:root	
	font-size: 14px	!important
	background-color: $white	
body
	font-family: 'Roboto', sans-serif

.banner-main
	width: 100%
	max-width: 1290px
	height: 600px
	margin: 0 auto
	background-image: url("../img/bg.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	.header-bg
		height: 100%
		background-color: rgba($black, .75)

.content
	width: 100%
	max-width: 1290px
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	@media (min-width: 900px)
		flex-wrap: nowrap
		margin-top: 30px


aside
	width: 100%
	@media (min-width: 900px)
		width: calc(100% / 3)

main
	width: 100%
	@media (min-width: 900px)
		width: calc(200% / 3)

.katalog	
	&-btn
		width: 100%
		height: 30px
		margin: 20px auto
		text-align: center
		cursor: pointer
		font-size: 26px
		height: 46px
		font-weight: 500
		background: orange
		color: $white
		padding: 8px 0
		margin-top: 15px
		@media (min-width: 900px)
			display: none
	&-wrap
		width: 100%
		&:not(.show)
			display: none
			@media (min-width: 900px)
				display: block
		h2
			display: none
			position: relative
			height: 35px
			&:after
				position: absolute
				content: ""
				bottom: 0
				left: 50%
				background: orange
				height: 2px
				width: 100px
				margin-left: -50px
			@media (min-width: 900px)
				display: block
				text-align: center
				text-transform: uppercase

		ul
			padding-left: 10px
		li
			list-style: none
			&:nth-child(even)
				background-color: #eee
			a
				font-weight: 300
				font-size: 18px				
				text-decoration: none
				color: $brown
				img
					width: 60px
					height: 50px
					margin-right: 20px


.article
	display: none
	@media (min-width: 900px)
		display: block



